.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  .logo {
    font-size: 2rem;
    color: #28a745;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .logo:hover {
    color: #218838;
  }
  
  nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  nav a {
    text-decoration: none;
    color: #555; /* Darker grey for better visibility */
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    background-color: #218838;; /* Light grey background for button-like appearance */
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    cursor: pointer; /* Pointer cursor to indicate clickable area */
    display: inline-block; /* Ensures padding is applied correctly */
  }
  
.logo-image {
    width: 40px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 0.5rem; /* Space between the logo image and text */
  }
  
  nav a:hover {
    background-color: #28a745;
    color: #fff;
    transform: scale(1.05);
  }
  
  nav a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: width 0.3s, left 0.3s;
    z-index: -1;
  }
  
  nav a:hover::before {
    width: 100%;
    left: 0;
  }
  
  nav a.active {
    background-color: #28a745;
    color: #fff;
  }
  
  .btn {
    background-color: #28a745;
    color: #000000;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .btn:hover {
    background-color: #218838;
    color: #fff;
    transform: scale(1.05);
  }
  